
Controller/__history/SendWhats.Controller.SendWhats.pas.~12~
Controller/__history/SendWhats.Controller.SendWhats.pas.~19~
Model/__history/SendWhats.Model.Response.pas.~29~
Model/__history/SendWhats.Model.TextMessage.pas.~4~
View/__history/View.Main.dfm.~1~
View/__history/View.Main.pas.~6~
